CONFIG_COMPILER_OPTIMIZATION_NONE=n
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_LWIP_IRAM_OPTIMIZATION=n
CONFIG_LWIP_EXTRA_IRAM_OPTIMIZATION=n
CONFIG_GPTIMER_ISR_HANDLER_IN_IRAM=n
CONFIG_SPI_MASTER_IN_IRAM=n
CONFIG_SPI_SLAVE_IN_IRAM=n
CONFIG_ANA_CMPR_ISR_HANDLER_IN_IRAM=n
CONFIG_PARLIO_TX_ISR_HANDLER_IN_IRAM=n
CONFIG_PARLIO_RX_ISR_HANDLER_IN_IRAM=n
CONFIG_RMT_TX_ISR_HANDLER_IN_IRAM=n
CONFIG_RMT_RX_ISR_HANDLER_IN_IRAM=n
CONFIG_I2C_MASTER_ISR_HANDLER_IN_IRAM=n
CONFIG_GDMA_ISR_HANDLER_IN_IRAM=n
CONFIG_LIBC_LOCKS_PLACE_IN_IRAM=n
CONFIG_HAL_ASSERTION_SILENT=y
#CONFIG_SPI_FLASH_AUTO_SUSPEND=y ## CAUSES CRASHES ON SOME DEVICES
#CONFIG_SPI_FLASH_PLACE_FUNCTIONS_IN_IRAM=n ## CAUSES CRASHES ON SOME DEVICES
#CONFIG_SPI_FLASH_AUTO_CHECK_SUSPEND_STATUS=y ## CAUSES CRASHES ON SOME DEVICES
CONFIG_LIBC_MISC_IN_IRAM=n
CONFIG_ESP_TIMER_IN_IRAM=n
CONFIG_ESP_INTR_IN_IRAM=n
CONFIG_LOG_IN_IRAM=n
CONFIG_ESP_ROM_PRINT_IN_IRAM=n
CONFIG_PM_SLEEP_FUNC_IN_IRAM=n
CONFIG_PM_RTOS_IDLE_OPT=n
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=n
CONFIG_PM_SLP_IRAM_OPT=n
CONFIG_ESP_REGI2C_CTRL_FUNC_IN_IRAM=n
CONFIG_ESP_PERIPH_CTRL_FUNC_IN_IRAM=n
CONFIG_ESP_PHY_IRAM_OPT=n
CONFIG_ESP_WIFI_SLP_IRAM_OPT=n
CONFIG_ESP_WIFI_EXTRA_IRAM_OPT=n