menu "Wi-Fi Remote"
    config ESP_WIFI_REMOTE_ENABLED
        bool
        default y if !ESP_HOST_WIFI_ENABLED
        default n if ESP_HOST_WIFI_ENABLED

    if ESP_WIFI_REMOTE_ENABLED
        orsource "./idf_v5.5/Kconfig.slave_select.in"
        orsource "./idf_v5.5/Kconfig.soc_wifi_caps.in"
        orsource "./Kconfig.rpc.in"

        menu "Wi-Fi configuration"
            orsource "./idf_v5.5/Kconfig.wifi.in"
        endmenu
    endif
    if !ESP_WIFI_REMOTE_ENABLED

        # This helper variables is only used to indicate that Wi-Fi remote if OFF
        # and explains why
        config ESP_WIFI_REMOTE_IS_DISABLED
            bool "Wi-Fi Remote is disabled (Host Wi-Fi is ON)"
            default y
            help
                Wi-Fi Remote is disabled because ESP_HOST_WIFI_ENABLED is ON.
                These options are mutually exclusive.
                Disable ESP_HOST_WIFI_ENABLED to use ESP_WIFI_REMOTE.

        config ESP_WIFI_REMOTE_FORCE_DISABLED
            bool
            default y
            select ESP_WIFI_REMOTE_IS_DISABLED
    endif

endmenu # Wi-Fi Remote
