# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_ESP_SDIO_HOST_INTERFACE                 CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE
CONFIG_ESP_SPI_HOST_INTERFACE                  CONFIG_ESP_HOSTED_SPI_HOST_INTERFACE
CONFIG_ESP_SPI_HD_HOST_INTERFACE               CONFIG_ESP_HOSTED_SPI_HD_HOST_INTERFACE
CONFIG_ESP_UART_HOST_INTERFACE                 CONFIG_ESP_HOSTED_UART_HOST_INTERFACE

CONFIG_SLAVE_CHIPSET_ESP32                     CONFIG_ESP_HOSTED_SLAVE_ESP32
CONFIG_SLAVE_CHIPSET_ESP32S2                   CONFIG_ESP_HOSTED_SLAVE_ESP32S2
CONFIG_SLAVE_CHIPSET_ESP32S3                   CONFIG_ESP_HOSTED_SLAVE_ESP32S3
CONFIG_SLAVE_CHIPSET_ESP32C2                   CONFIG_ESP_HOSTED_SLAVE_ESP32C2
CONFIG_SLAVE_CHIPSET_ESP32C3                   CONFIG_ESP_HOSTED_SLAVE_ESP32C3
CONFIG_SLAVE_CHIPSET_ESP32C5                   CONFIG_ESP_HOSTED_SLAVE_ESP32C5
CONFIG_SLAVE_CHIPSET_ESP32C6                   CONFIG_ESP_HOSTED_SLAVE_ESP32C6

CONFIG_IDF_SLAVE_TARGET                        CONFIG_ESP_HOSTED_IDF_SLAVE_TARGET
CONFIG_ESP_RPC_TASK_STACK                      CONFIG_ESP_HOSTED_RPC_TASK_STACK
CONFIG_ESP_DFLT_TASK_STACK                     CONFIG_ESP_HOSTED_DFLT_TASK_STACK

CONFIG_ESP_SPI_MODE                            CONFIG_ESP_HOSTED_SPI_MODE
CONFIG_ESP_SPI_PRIV_MODE_ESP32                 CONFIG_ESP_HOSTED_SPI_PRIV_MODE_ESP32
CONFIG_ESP_SPI_PRIV_MODE_ESP32XX               CONFIG_ESP_HOSTED_SPI_PRIV_MODE_ESP32XX
CONFIG_ESP_SPI_PRIV_MODE_0_ESP32               CONFIG_ESP_HOSTED_SPI_PRIV_MODE_0_ESP32
CONFIG_ESP_SPI_PRIV_MODE_1_ESP32               CONFIG_ESP_HOSTED_SPI_PRIV_MODE_1_ESP32
CONFIG_ESP_SPI_PRIV_MODE_2_ESP32               CONFIG_ESP_HOSTED_SPI_PRIV_MODE_2_ESP32
CONFIG_ESP_SPI_PRIV_MODE_3_ESP32               CONFIG_ESP_HOSTED_SPI_PRIV_MODE_3_ESP32
CONFIG_ESP_SPI_PRIV_MODE_0_ESP32XX             CONFIG_ESP_HOSTED_SPI_PRIV_MODE_0_ESP32XX
CONFIG_ESP_SPI_PRIV_MODE_1_ESP32XX             CONFIG_ESP_HOSTED_SPI_PRIV_MODE_1_ESP32XX
CONFIG_ESP_SPI_PRIV_MODE_2_ESP32XX             CONFIG_ESP_HOSTED_SPI_PRIV_MODE_2_ESP32XX
CONFIG_ESP_SPI_PRIV_MODE_3_ESP32XX             CONFIG_ESP_HOSTED_SPI_PRIV_MODE_3_ESP32XX
CONFIG_ESP_SPI_CONTROLLER                      CONFIG_ESP_HOSTED_SPI_CONTROLLER
CONFIG_HS_ACTIVE_HIGH                          CONFIG_ESP_HOSTED_HS_ACTIVE_HIGH
CONFIG_HS_ACTIVE_LOW                           CONFIG_ESP_HOSTED_HS_ACTIVE_LOW
CONFIG_DR_ACTIVE_HIGH                          CONFIG_ESP_HOSTED_DR_ACTIVE_HIGH
CONFIG_DR_ACTIVE_LOW                           CONFIG_ESP_HOSTED_DR_ACTIVE_LOW
CONFIG_SPI_HSPI                                CONFIG_ESP_HOSTED_SPI_HSPI
CONFIG_ESP_SPI_HSPI_GPIO_MOSI                  CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_MOSI
CONFIG_ESP_SPI_HSPI_GPIO_MISO                  CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_MISO
CONFIG_ESP_SPI_HSPI_GPIO_CLK                   CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_CLK
CONFIG_ESP_SPI_HSPI_GPIO_CS                    CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_CS
CONFIG_SPI_VSPI                                CONFIG_ESP_HOSTED_SPI_VSPI
CONFIG_ESP_SPI_VSPI_GPIO_MOSI                  CONFIG_ESP_HOSTED_SPI_VSPI_GPIO_MOSI
CONFIG_ESP_SPI_VSPI_GPIO_MISO                  CONFIG_ESP_HOSTED_SPI_VSPI_GPIO_MISO
CONFIG_ESP_SPI_VSPI_GPIO_CLK                   CONFIG_ESP_HOSTED_SPI_VSPI_GPIO_CLK
CONFIG_ESP_SPI_VSPI_GPIO_CS                    CONFIG_ESP_HOSTED_SPI_VSPI_GPIO_CS
CONFIG_ESP_SPI_FREQ_ESP32                      CONFIG_ESP_HOSTED_SPI_FREQ_ESP32
CONFIG_ESP_SPI_FREQ_ESP32C6                    CONFIG_ESP_HOSTED_SPI_FREQ_ESP32C6
CONFIG_ESP_SPI_FREQ_ESP32XX                    CONFIG_ESP_HOSTED_SPI_FREQ_ESP32XX
CONFIG_ESP_SPI_CLK_FREQ                        CONFIG_ESP_HOSTED_SPI_CLK_FREQ
CONFIG_ESP_SPI_GPIO_MOSI                       CONFIG_ESP_HOSTED_SPI_GPIO_MOSI
CONFIG_ESP_SPI_GPIO_MISO                       CONFIG_ESP_HOSTED_SPI_GPIO_MISO
CONFIG_ESP_SPI_GPIO_CLK                        CONFIG_ESP_HOSTED_SPI_GPIO_CLK
CONFIG_ESP_SPI_GPIO_CS                         CONFIG_ESP_HOSTED_SPI_GPIO_CS
CONFIG_ESP_SPI_GPIO_HANDSHAKE                  CONFIG_ESP_HOSTED_SPI_GPIO_HANDSHAKE
CONFIG_ESP_SPI_GPIO_DATA_READY                 CONFIG_ESP_HOSTED_SPI_GPIO_DATA_READY
CONFIG_ESP_SPI_GPIO_RESET_SLAVE                CONFIG_ESP_HOSTED_SPI_GPIO_RESET_SLAVE
CONFIG_ESP_SPI_TX_Q_SIZE                       CONFIG_ESP_HOSTED_SPI_TX_Q_SIZE
CONFIG_ESP_SPI_RX_Q_SIZE                       CONFIG_ESP_HOSTED_SPI_RX_Q_SIZE

CONFIG_SDIO_RESET_ACTIVE_HIGH                  CONFIG_ESP_HOSTED_SDIO_RESET_ACTIVE_HIGH
CONFIG_ESP_SDIO_OPTIMIZATION_RX_NONE           CONFIG_ESP_HOSTED_SDIO_OPTIMIZATION_RX_NONE
CONFIG_ESP_SDIO_OPTIMIZATION_RX_MAX_SIZE       CONFIG_ESP_HOSTED_SDIO_OPTIMIZATION_RX_MAX_SIZE
CONFIG_ESP_SDIO_OPTIMIZATION_RX_STREAMING_MODE CONFIG_ESP_HOSTED_SDIO_OPTIMIZATION_RX_STREAMING_MODE
CONFIG_ESP_SDIO_GPIO_RESET_SLAVE               CONFIG_ESP_HOSTED_SDIO_GPIO_RESET_SLAVE
CONFIG_ESP_SDIO_4_BIT_BUS                      CONFIG_ESP_HOSTED_SDIO_4_BIT_BUS
CONFIG_ESP_SDIO_1_BIT_BUS                      CONFIG_ESP_HOSTED_SDIO_1_BIT_BUS
CONFIG_ESP_SDIO_BUS_WIDTH                      CONFIG_ESP_HOSTED_SDIO_BUS_WIDTH
CONFIG_ESP_SDIO_CLOCK_FREQ_KHZ                 CONFIG_ESP_HOSTED_SDIO_CLOCK_FREQ_KHZ
CONFIG_ESP_SDIO_PIN_CMD                        CONFIG_ESP_HOSTED_SDIO_PIN_CMD
CONFIG_ESP_SDIO_PIN_CLK                        CONFIG_ESP_HOSTED_SDIO_PIN_CLK
CONFIG_ESP_SDIO_PIN_D0                         CONFIG_ESP_HOSTED_SDIO_PIN_D0
CONFIG_ESP_SDIO_PIN_D1                         CONFIG_ESP_HOSTED_SDIO_PIN_D1
CONFIG_ESP_SDIO_PIN_D2                         CONFIG_ESP_HOSTED_SDIO_PIN_D2
CONFIG_ESP_SDIO_PIN_D3                         CONFIG_ESP_HOSTED_SDIO_PIN_D3
CONFIG_ESP_SDIO_TX_Q_SIZE                      CONFIG_ESP_HOSTED_SDIO_TX_Q_SIZE
CONFIG_ESP_SDIO_RX_Q_SIZE                      CONFIG_ESP_HOSTED_SDIO_RX_Q_SIZE
CONFIG_ESP_SDIO_CHECKSUM                       CONFIG_ESP_HOSTED_SDIO_CHECKSUM

CONFIG_ESP_SPI_HD_MODE                         CONFIG_ESP_HOSTED_SPI_HD_MODE
CONFIG_ESP_SPI_HD_PRIV_INTERFACE_4_DATA_LINES  CONFIG_ESP_HOSTED_SPI_HD_PRIV_INTERFACE_4_DATA_LINES
CONFIG_ESP_SPI_HD_PRIV_INTERFACE_2_DATA_LINES  CONFIG_ESP_HOSTED_SPI_HD_PRIV_INTERFACE_2_DATA_LINES
CONFIG_ESP_SPI_HD_INTERFACE_NUM_DATA_LINES     CONFIG_ESP_HOSTED_SPI_HD_INTERFACE_NUM_DATA_LINES
CONFIG_SPI_HD_RESET_ACTIVE_HIGH                CONFIG_ESP_HOSTED_SPI_HD_RESET_ACTIVE_HIGH
CONFIG_SPI_HD_RESET_ACTIVE_LOW                 CONFIG_ESP_HOSTED_SPI_HD_RESET_ACTIVE_LOW
CONFIG_SPI_HD_DR_ACTIVE_HIGH                   CONFIG_ESP_HOSTED_SPI_HD_DR_ACTIVE_HIGH
CONFIG_SPI_HD_DR_ACTIVE_LOW                    CONFIG_ESP_HOSTED_SPI_HD_DR_ACTIVE_LOW
CONFIG_ESP_SPI_HD_GPIO_CS                      CONFIG_ESP_HOSTED_SPI_HD_GPIO_CS
CONFIG_ESP_SPI_HD_GPIO_CLK                     CONFIG_ESP_HOSTED_SPI_HD_GPIO_CLK
CONFIG_ESP_SPI_HD_GPIO_D0                      CONFIG_ESP_HOSTED_SPI_HD_GPIO_D0
CONFIG_ESP_SPI_HD_GPIO_D1                      CONFIG_ESP_HOSTED_SPI_HD_GPIO_D1
CONFIG_ESP_SPI_HD_GPIO_D2                      CONFIG_ESP_HOSTED_SPI_HD_GPIO_D2
CONFIG_ESP_SPI_HD_GPIO_D3                      CONFIG_ESP_HOSTED_SPI_HD_GPIO_D3
CONFIG_ESP_SPI_HD_GPIO_DATA_READY              CONFIG_ESP_HOSTED_SPI_HD_GPIO_DATA_READY
CONFIG_ESP_SPI_HD_GPIO_RESET_SLAVE             CONFIG_ESP_HOSTED_SPI_HD_GPIO_RESET_SLAVE
CONFIG_ESP_SPI_HD_FREQ_ESP32C6                 CONFIG_ESP_HOSTED_SPI_HD_FREQ_ESP32C6
CONFIG_ESP_SPI_HD_FREQ_ESP32XX                 CONFIG_ESP_HOSTED_SPI_HD_FREQ_ESP32XX
CONFIG_ESP_SPI_HD_CLK_FREQ                     CONFIG_ESP_HOSTED_SPI_HD_CLK_FREQ
CONFIG_ESP_SPI_HD_TX_Q_SIZE                    CONFIG_ESP_HOSTED_SPI_HD_TX_Q_SIZE
CONFIG_ESP_SPI_HD_RX_Q_SIZE                    CONFIG_ESP_HOSTED_SPI_HD_RX_Q_SIZE
CONFIG_ESP_SPI_HD_CHECKSUM                     CONFIG_ESP_HOSTED_SPI_HD_CHECKSUM

CONFIG_ESP_UART_RESET_ACTIVE_HIGH              CONFIG_ESP_HOSTED_UART_RESET_ACTIVE_HIGH
CONFIG_ESP_UART_RESET_ACTIVE_LOW               CONFIG_ESP_HOSTED_UART_RESET_ACTIVE_LOW
CONFIG_ESP_UART_PORT                           CONFIG_ESP_HOSTED_UART_PORT
CONFIG_ESP_UART_PIN_TX                         CONFIG_ESP_HOSTED_UART_PIN_TX
CONFIG_ESP_UART_PIN_RX                         CONFIG_ESP_HOSTED_UART_PIN_RX
CONFIG_ESP_UART_BAUDRATE                       CONFIG_ESP_HOSTED_UART_BAUDRATE
CONFIG_ESP_UART_NUM_DATA_BITS                  CONFIG_ESP_HOSTED_UART_NUM_DATA_BITS
CONFIG_ESP_UART_PRIV_PARITY_NONE               CONFIG_ESP_HOSTED_UART_PRIV_PARITY_NONE
CONFIG_ESP_UART_PRIV_PARITY_EVEN               CONFIG_ESP_HOSTED_UART_PRIV_PARITY_EVEN
CONFIG_ESP_UART_PRIV_PARITY_ODD                CONFIG_ESP_HOSTED_UART_PRIV_PARITY_ODD
CONFIG_ESP_UART_PARITY                         CONFIG_ESP_HOSTED_UART_PARITY
CONFIG_ESP_UART_PRIV_STOP_BITS_1               CONFIG_ESP_HOSTED_UART_PRIV_STOP_BITS_1
CONFIG_ESP_UART_PRIV_STOP_BITS_1_5             CONFIG_ESP_HOSTED_UART_PRIV_STOP_BITS_1_5
CONFIG_ESP_UART_PRIV_STOP_BITS_2               CONFIG_ESP_HOSTED_UART_PRIV_STOP_BITS_2
CONFIG_ESP_UART_STOP_BITS                      CONFIG_ESP_HOSTED_UART_STOP_BITS
CONFIG_ESP_UART_GPIO_RESET_SLAVE               CONFIG_ESP_HOSTED_UART_GPIO_RESET_SLAVE
CONFIG_ESP_UART_TX_Q_SIZE                      CONFIG_ESP_HOSTED_UART_TX_Q_SIZE
CONFIG_ESP_UART_RX_Q_SIZE                      CONFIG_ESP_HOSTED_UART_RX_Q_SIZE
CONFIG_ESP_UART_CHECKSUM                       CONFIG_ESP_HOSTED_UART_CHECKSUM

CONFIG_ESP_GPIO_SLAVE_RESET_SLAVE              CONFIG_ESP_HOSTED_GPIO_SLAVE_RESET_SLAVE
CONFIG_RESET_GPIO_ACTIVE_LOW                   CONFIG_ESP_HOSTED_RESET_GPIO_ACTIVE_LOW

CONFIG_ESP_ENABLE_BT_BLUEDROID                 CONFIG_ESP_HOSTED_ENABLE_BT_BLUEDROID
CONFIG_ESP_BLUEDROID_HCI_VHCI                  CONFIG_ESP_HOSTED_BLUEDROID_HCI_VHCI
CONFIG_ESP_ENABLE_BT_NIMBLE                    CONFIG_ESP_HOSTED_ENABLE_BT_NIMBLE
CONFIG_ESP_NIMBLE_HCI_VHCI                     CONFIG_ESP_HOSTED_NIMBLE_HCI_VHCI

CONFIG_ESP_USE_MEMPOOL                         CONFIG_ESP_HOSTED_USE_MEMPOOL
CONFIG_ESP_MAX_SIMULTANEOUS_SYNC_RPC_REQUESTS  CONFIG_ESP_HOSTED_MAX_SIMULTANEOUS_SYNC_RPC_REQUESTS
CONFIG_ESP_MAX_SIMULTANEOUS_ASYNC_RPC_REQUESTS CONFIG_ESP_HOSTED_MAX_SIMULTANEOUS_ASYNC_RPC_REQUESTS
CONFIG_ESP_RAW_THROUGHPUT_TRANSPORT            CONFIG_ESP_HOSTED_RAW_THROUGHPUT_TRANSPORT
CONFIG_ESP_RAW_THROUGHPUT_TX_TO_SLAVE          CONFIG_ESP_HOSTED_RAW_THROUGHPUT_TX_TO_SLAVE
CONFIG_ESP_RAW_THROUGHPUT_RX_FROM_SLAVE        CONFIG_ESP_HOSTED_RAW_THROUGHPUT_RX_FROM_SLAVE
CONFIG_ESP_RAW_THROUGHPUT_BIDIRECTIONAL        CONFIG_ESP_HOSTED_RAW_THROUGHPUT_BIDIRECTIONAL
CONFIG_ESP_RAW_TP_HOST_TO_ESP_PKT_LEN          CONFIG_ESP_HOSTED_RAW_TP_HOST_TO_ESP_PKT_LEN
CONFIG_ESP_RAW_TP_REPORT_INTERVAL              CONFIG_ESP_HOSTED_RAW_TP_REPORT_INTERVAL
CONFIG_ESP_PKT_STATS                           CONFIG_ESP_HOSTED_PKT_STATS
CONFIG_HOST_TO_ESP_WIFI_DATA_THROTTLE          CONFIG_ESP_HOSTED_HOST_TO_ESP_WIFI_DATA_THROTTLE
CONFIG_PRIV_WIFI_TX_SPI_HIGH_THRESHOLD         CONFIG_ESP_HOSTED_PRIV_WIFI_TX_SPI_HIGH_THRESHOLD
CONFIG_PRIV_WIFI_TX_SDIO_HIGH_THRESHOLD        CONFIG_ESP_HOSTED_PRIV_WIFI_TX_SDIO_HIGH_THRESHOLD
CONFIG_PRIV_WIFI_TX_SPI_HD_HIGH_THRESHOLD      CONFIG_ESP_HOSTED_PRIV_WIFI_TX_SPI_HD_HIGH_THRESHOLD
CONFIG_PRIV_WIFI_TX_UART_HIGH_THRESHOLD        CONFIG_ESP_HOSTED_PRIV_WIFI_TX_UART_HIGH_THRESHOLD
CONFIG_TO_WIFI_DATA_THROTTLE_HIGH_THRESHOLD    CONFIG_ESP_HOSTED_TO_WIFI_DATA_THROTTLE_HIGH_THRESHOLD
CONFIG_TO_WIFI_DATA_THROTTLE_LOW_THRESHOLD     CONFIG_ESP_HOSTED_TO_WIFI_DATA_THROTTLE_LOW_THRESHOLD
